@model IEnumerable<ProductModel>

<div class="container-fluid">
    <div class="row px-xl-5">
        @foreach (var product in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden m2">
                        <img class="img-fluid w-100" src="@product.URL" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square" asp-route-id="@product.Id" asp-controller="Product" asp-action="Details"><i class="fa fa-search"></i></a>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a class="btn btn-outline-dark btn-square" asp-route-id="@product.Id" asp-controller="Product" asp-action="Edit">
                                    <i class="fa fa-pen"></i>
                                </a>
                                <a class="btn btn-outline-dark btn-square" asp-route-id="@product.Id" asp-controller="Product" asp-action="Delete">
                                    <i class="fa fa-solid fa-trash"></i>
                                </a>
                            }
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" asp-route-id="@product.Id" asp-controller="Product" asp-action="Details">@product.Name</a>
                        @if (product.Status == Status.Disponible)
                        {
                            <p>Disponible</p>
                        }
                        else
                        {
                            <p style="color: red;">Non Disponible</p>
                        }
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>$@(((float)(100 - product.Reduction) * (float)0.01 * product.Price).ToString("0.00"))</h5>
                            <h6 class="text-muted ml-2"><del>$@product.Price.ToString("0.00")</del></h6>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            @for (int i = 0; i < 5; i++)
                            {
                                <small class="fa fa-star text-primary mr-1"></small>
                            }
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>