@model Lego_Prestigieux.Models.ProductModel

@{
    ViewData["Title"] = "Detail";
}
<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
            <div class="bg-light">
                <img class="w-100 h-100" src="@Html.DisplayFor(Model => Model.URL)" alt="">
            </div>
        </div>

        <div class="col-lg-7 h-auto mb-30">
            <div class="h-100 bg-light p-30">
                <h3>@Html.DisplayFor(model => model.Name)</h3>
                <div class="d-flex mt-2">
                    <h4>$@(((float)(100 - Model.Reduction) * (float)0.01 * Model.Price).ToString("0.00"))</h4>
                    <h5 class="text-muted ml-2"><del>$@Model.Price.ToString("0.00")</del></h5>
                </div>
                <p class="mb-4">
                    @Html.DisplayFor(model => model.Status) : @Html.DisplayFor(model => model.Quantity) <br />
                    Catégorie : @Html.DisplayFor(model => model.Category)
                </p>
                <form asp-controller="Product" asp-action="AddToCart" 
                            asp-route-productId="@Model.Id" asp-route-returnUrl="" method="post" role="form">
                    <div class="d-flex align-items-center mb-4 pt-2">
                        <div class="input-group quantity mr-3" style="width: 130px;">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-minus">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input asp-for="Quantity" type="text" class="form-control bg-secondary border-0 text-center" value="1">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-plus">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <button class="btn btn-primary px-3">
                            <i class="fa fa-shopping-cart mr-1"></i>
                            Ajouter au panier
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                <div class="nav nav-tabs mb-4">
                    <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Description</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <h4 class="mb-3">Description du produit</h4>
                        @Html.DisplayFor(model => model.Detail)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-xl-5 pt-1">
        <form asp-action="Delete" class="col-lg-5 mb-30">
            <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Retour</a>
        </form>
    </div>
</div>