@model Lego_Prestigieux.Models.ProductInfoCart

@{
    bool less = false;
    bool more = true;
}

<tr>
    <td class="align-middle"><img src="@Model.URL" alt="" style="width: 50px;">@Model.Name</td>
    <td class="align-middle">$@Model.Price.ToString("0.00")</td>
    <td class="align-middle">
        <div class="input-group quantity mx-auto" style="width: 100px;">
            <a asp-action="UpdateQuantity" asp-controller="Cart" asp-route-id="@Model.CartItemId" asp-route-pic="@Model.Quantity" asp-route-moreless="@less">
                <div class="input-group-btn">
                    <div class="btn btn-sm btn-primary">
                        <i class="fa fa-minus"></i>
                    </div>
                </div>
            </a>
            <input readonly="readonly" class="form-control form-control-sm bg-secondary border-0 text-center" asp-for="@Model.Quantity">
            <a asp-action="UpdateQuantity" asp-controller="Cart" asp-route-id="@Model.CartItemId" asp-route-pic="@Model.Quantity" asp-route-moreless="@more">
                <div class="input-group-btn">
                    <div class="btn btn-sm btn-primary">
                        <i class="fa fa-plus"></i>
                    </div>
                </div>
            </a>

        </div>
    </td>
    <td class="align-middle">$@Model.Total.ToString("0.00")</td>
    <td class="align-middle">
        <form method="post" asp-action="RemoveCartItem"
           asp-controller="Cart"
           asp-route-cartItemId="@Model.CartItemId">
            <button class="btn btn-sm btn-danger" type="submit" 
                onclick="return confirm('Enlever cet item?')">
                <i class="fa fa-times"></i>
            </button>
        </form>
        <script type="text/javascript">
            $("td").on("submit", "#Form1", function () {
                return confirm("Do you want to submit?");
            });
        </script>
    </td>
</tr>
